<script src="~/Scripts/Admin/CloseSucc.js"></script>
<div>
    <div class="DivClass">
        <div id="SuccessMsg" style="float: right; width: 300px; display: none">
            @Html.Partial("~/Areas/Admin/Views/Alerts/_Successful.cshtml")
        </div>
        <div id="AlertMsg" style="float: right; width: 300px; display: none">
            @Html.Partial("~/Areas/Admin/Views/Alerts/_Error.cshtml")
        </div>
    </div>
</div>
@{
    if (ViewBag.result == "OK")
    { 
    <script type="text/javascript">
        $("#AlertMsg").hide();
        $('#SuccessMsg').show();
    </script>
    }
    if (ViewBag.result == "Error")
    { 
    <script type="text/javascript">
        $("#AlertMsg").show();
        $('#SuccessMsg').hide();
    </script>
    }
}