@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/User/errorPage.css" rel="stylesheet" />
    <title>Error</title>
</head>
<body id="stylef7">
    <div id="centertop" style="font-size: 12px; width: 1000px; margin: 0 auto; text-align: center;">
        <div id="errorpage">
            <div id="header" class="png" style="float: none; width: 100%; margin: 0px auto; text-align: center; height: 40px;">
            </div>
            <div class="error_title">
                <h1>خطا</h1>
                <h2>خطایی رخ داده است</h2>
            </div>
            <p class="errorp">
                <strong>بخاطر یکی از دلایل زیر امکان دیدن این صفحه را ندارید : </strong>
            </p>
            <ol id="errorol">
                <div style="padding-right: 35px">
                    <li>مطلب
                        <strong>از انتشار خارج شده باشد</strong>
                    </li>
                    <li>یک موتور جستجو که یک
                        <strong>لیست تاریخ گذشته از این سایت دارد</strong>
                    </li>
                    <li>a
                        <strong>آدرس اشتباه تایپ شده است</strong>
                    </li>
                    <li>شما به این صفحه
                        <strong>دسترسی</strong>
                        نداشته باشید
                    </li>
                    <li>منبع خواسته شده پیدا نشد</li>
                    <li>در هنگام پردازش درخواست شما خطایی رخ داده است</li>
                </div>
            </ol>
            <p class="errorp">
                <strong>لطفا یکی از صفحات زیر را امتحان کنید: </strong>
            </p>
            <ol class="error_link" style="padding-right: 25px">
                <li>
                    <a title="Go to the home page" href="/">صفحه نخست </a>
                </li>
                <li>
                    <a title="این سایت را جستجو کن" href="/index.php?option=com_search">این سایت را جستجو کن </a>
                </li>
            </ol>
            <p class="error_contact">در صورتی که با مشکلی مواجه شدید با مدیریت سایت تماس بگیرید</p>
            <p class="error_msg">خطا</p>
        </div>
    </div>
</body>
</html>
