
<div id="Successful">
    <div class="DivClass">
        <div class="FloatRight" style="padding-top: 3px;">
            <img src="~/Images/Admin/Design/1357559919_accepted_48.png" width="21" height="21" />
        </div>
        <div class="FloatRight">
            <span>
               عملیات با موفقیت ثبت شد .
            </span>
        </div>
        <div class="FloatL1">
            <img class="imgClose" src="~/Images/Admin/AdminImages/Alert-Close.png" alt="successImage" />
        </div>
    </div>
</div>
<script src="~/Scripts/Admin/CloseSucc.js"></script>
